<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/" method="post">
        <input type="text" name="pLang" placeholder="Programming language" />
        <button type="submit">Add</button>
      </form>
      <ul>
        <li><%= plName %></li>
      </ul>
    </main>
    <footer>
      <p>All rights reserved by &comp; Arafat Hossain</p>
    </footer>
  </body>
</html>
