<%- include("layout/header") %>
<main>
  <form action="/" method="post">
    <input type="text" name="pLang" placeholder="Programming language" />
    <button type="submit">Add</button>
  </form>
  <ul>
    <% if(plName.length > 0) { %> <% for(let i = 0; i < plName.length; i++){%>
    <li><%= plName[i] %></li>
    <% } %> <% }else{ %>
    <p>NO data found</p>
    <% } %>
  </ul>
</main>
<%- include("layout/footer") %>
